<!DOCTYPE html>
<html>

	<link rel="stylesheet" href="/static/estilos.css">

<head>
	<title>LIBERTADORES</title>

	<style>


		#grupos {
			width: 45%;
			height: 450px;
			float: left;
			color: black;

			text-align: center;
			border: 1px solid black;
			margin-left: 10px;
			margin-right:10px;
			margin-top: 10px;
			padding-right:10px;
			padding-left:10px;
			background-color: #99ff99;

		}

		#cruces {

			width:93%;
			height:500px;
			border: 1px solid black;
			margin-left: 10px;
			margin-right:10px;
			margin-top: 10px;
			padding-right:10px;
			padding-left:10px;
			float:left;
			background-color: #99ff99;


		}

		#cruces div {

		width:400px

		}

		#cruces div h4{

		text-align:center;
		background-color:green;
		color:white;
		margin-right: 20px;

		}

		#cruces h3 {

			    background: green;
				color: white;
				height: 40px;
				margin-top: 0px;
				margin-right: 20px;
				text-align: left;
				padding-top: 15px;

		}


		table#grupo1 {

			width: 100%;
			border-collapse: collapse;
			text-aling: center;
		}

		table#grupo2 {

			width: 100%;
			border-collapse: collapse;
			text-aling: center;
		}


		table#grupo3 {

    		width: 100%;
			border-collapse: collapse;
			text-aling: center;

		}
		table#grupo4 {
    		border-collapse: collapse;
    		width: 45%;

		}
		table#grupo5 {
    		border-collapse: collapse;
    		width: 45%;
			text-aling: left

		}
		table#grupo6 {
    		border-collapse: collapse;
    		width: 45%;

		}
		table#grupo7 {
    		border-collapse: collapse;
    		width: 45%;
			text-aling: left
		}
		table#grupo8 {
    		border-collapse: collapse;
    		width: 45%;

		}

		td, th {
    		text-align: left;
    		padding: 8px;
		}

		th {
    		background-color: #4CAF50;
    		color: white;
		}
		tr:nth-child(even){background-color: #f2f2f2}


		ul {
			list-style-type: none;
			margin-left: 10px;
			padding-left: 10px;
			overflow: hidden;
			background-color: #333;
		}

		li {
			float: left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover:not(.active) {
			background-color: #111;
		}

		.active {
			background-color: #4CAF50;
		}


	</style>


</head>
<body bgcolor="#ffffe6">



<ul>
  <li><a class="active">COPA LIBERTADORES</a></li>
  <li><a  href="/">Home</a></li>
  <li><a href="/superliga">Superliga</a></li>
  <li><a href="/libertadores">Libertadores</a></li>

</ul>


{%if A:%}
<div id="grupos">

	<table id="grupo1">

		<td><strong>GRUPO A</strong></td>
		<tr>

			<th><strong>Equipos</strong></th>
			<th><strong>Ptos</strong></th>
			<th><strong>PJ</strong></th>
			<th><strong>PG</strong></th>
			<th><strong>PP</strong></th>
			<th><strong>PE</strong></th>
			<th><strong>GF</strong></th>
			<th><strong>GC</strong></th>
			<th><strong>DG</strong></th>

		</tr>



{% for item in A%}

	{% if item["Equipo_idEquipo"] == A[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == A[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td bgcolor="#ffffff"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#ffffff"> {{ item["Puntos"] }}</td>
		<td bgcolor="#ffffff"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#ffffff"> {{ item["Ganados"] }}</td>
		<td bgcolor="#ffffff"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#ffffff"> {{ item["Empatados"] }}</td>
		<td bgcolor="#ffffff"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#ffffff"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#ffffff"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}



{%endfor%}


</table>

	<div><h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3></div>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado"%}
		<tr>
					{%for eq in A%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in A%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}

						{%endif%}

				{%endfor%}
		</tr>
	<br>
	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado"%}

				<tr>
					{%for eq in A%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in A%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}

						{%endif%}

				{%endfor%}
				</tr>

			<br>
		{%endif%}
	{%endfor%}




</div>
{%endif%}

{%if B%}
<div id="grupos">



<table id ="grupo2">

	<tr>

		<td><strong>GRUPO B</strong></td>

	</tr>




	<tr>

		<th><strong>Equipos</strong></th>
		<th><strong>Ptos</strong></th>
		<th><strong>PJ</strong></th>
		<th><strong>PG</strong></th>
		<th><strong>PP</strong></th>
		<th><strong>PE</strong></th>
		<th><strong>GF</strong></th>
		<th><strong>GC</strong></th>
		<th><strong>DG</strong></th>

	</tr>


{% for item in B%}


	{% if item["Equipo_idEquipo"] == B[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == B[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}




{%endfor%}


</table >


	<h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in B%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in B%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
		</tr>

	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in B%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in B%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
				</tr>

	{%endif%}
	{%endfor%}



</div>
{%endif%}

{%if C%}
<div id="grupos">

<table id = "grupo3">



	<tr>

		<td><strong>GRUPO C</strong></td>

	</tr>




	<tr>

		<th><strong>Equipos</strong></th>
		<th><strong>Ptos</strong></th>
		<th><strong>PJ</strong></th>
		<th><strong>PG</strong></th>
		<th><strong>PP</strong></th>
		<th><strong>PE</strong></th>
		<th><strong>GF</strong></th>
		<th><strong>GC</strong></th>
		<th><strong>DG</strong></th>

	</tr>



{% for item in C%}

	{% if item["Equipo_idEquipo"] == C[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == C[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}





{%endfor%}


</table>

<h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in C%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in C%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
		</tr>

	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado" and match.Instancias == "Fase" %}
		<tr>
					{%for eq in C%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in C%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
				</tr>

	{%endif%}
	{%endfor%}



</div>
{%endif%}

{%if D%}
<div id="grupos">

<table id = "grupo4" align="right">
{% for item in D%}

	<tr>

		<td><strong>GRUPO D</strong></td>

	</tr>




	<tr>

		<th><strong>Equipos</strong></th>
		<th><strong>Ptos</strong></th>
		<th><strong>PJ</strong></th>
		<th><strong>PG</strong></th>
		<th><strong>PP</strong></th>
		<th><strong>PE</strong></th>
		<th><strong>GF</strong></th>
		<th><strong>GC</strong></th>
		<th><strong>DG</strong></th>

	</tr>




	{% if item["Equipo_idEquipo"] == D[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == D[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}





{%endfor%}


</table>

<h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in D%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in D%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
		</tr>

	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in D%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in D%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
				</tr>

	{%endif%}
	{%endfor%}
</div>
{%endif%}

{%if E%}
<div id="grupos">

<table id = "grupo5">
{% for item in E%}
	<tr>

		<td><strong>GRUPO E</strong></td>

	</tr>




	<tr>

		<th><strong>Equipos</strong></th>
		<th><strong>Ptos</strong></th>
		<th><strong>PJ</strong></th>
		<th><strong>PG</strong></th>
		<th><strong>PP</strong></th>
		<th><strong>PE</strong></th>
		<th><strong>GF</strong></th>
		<th><strong>GC</strong></th>
		<th><strong>DG</strong></th>

	</tr>





	{% if item["Equipo_idEquipo"] == E[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == E[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}





{%endfor%}


</table>

<h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in E%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in E%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
		</tr>

	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in E%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in E%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}

						{%endif%}
						<br>
				{%endfor%}
				</tr>

	{%endif%}
	{%endfor%}

</div>
{%endif%}

{%if F%}
<div id="grupos">

<table id = "grupo6">
{% for item in F%}
	<tr>

		<td><strong>GRUPO F</strong></td>

	</tr>




	<tr>

		<th><strong>Equipos</strong></th>
		<th><strong>Ptos</strong></th>
		<th><strong>PJ</strong></th>
		<th><strong>PG</strong></th>
		<th><strong>PP</strong></th>
		<th><strong>PE</strong></th>
		<th><strong>GF</strong></th>
		<th><strong>GC</strong></th>
		<th><strong>DG</strong></th>

	</tr>





	{% if item["Equipo_idEquipo"] == F[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == F[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}





{%endfor%}


</table>

<h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in F%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in F%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
		</tr>

	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in F%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in F%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
				</tr>

	{%endif%}
	{%endfor%}



</div>
{%endif%}

{%if G%}
<div id="grupos">



<table id = "grupo7">


	<tr>

		<td><strong>GRUPO G</strong></td>

	</tr>




	<tr>

		<th><strong>Equipos</strong></th>
		<th><strong>Ptos</strong></th>
		<th><strong>PJ</strong></th>
		<th><strong>PG</strong></th>
		<th><strong>PP</strong></th>
		<th><strong>PE</strong></th>
		<th><strong>GF</strong></th>
		<th><strong>GC</strong></th>
		<th><strong>DG</strong></th>

	</tr>



{% for item in G%}

	{% if item["Equipo_idEquipo"] == G[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == G[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}




{%endfor%}


</table>

<h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in G%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in G%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
		</tr>

	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in G%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in G%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
				</tr>

	{%endif%}
	{%endfor%}



</div>
{%endif%}

{%if H%}
<div id="grupos">

<table id = "grupo8">

	<tr>

		<td><strong>GRUPO H</strong></td>

	</tr>




	<tr>

		<th><strong>Equipos</strong></th>
		<th><strong>Ptos</strong></th>
		<th><strong>PJ</strong></th>
		<th><strong>PG</strong></th>
		<th><strong>PP</strong></th>
		<th><strong>PE</strong></th>
		<th><strong>GF</strong></th>
		<th><strong>GC</strong></th>
		<th><strong>DG</strong></th>

	</tr>



{% for item in H%}

	{% if item["Equipo_idEquipo"] == H[0]["Equipo_idEquipo"] or item["Equipo_idEquipo"] == H[1]["Equipo_idEquipo"]:%}
	<tr>


		<td bgcolor="#C8FE2E"> {{ item["Nombre"] }}</td>
	    <td bgcolor="#C8FE2E"> {{ item["Puntos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["PartidosJugados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Ganados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Perdidos"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["Empatados"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesEnContra"] }}</td>
		<td bgcolor="#C8FE2E"> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>

	{% else: %}

	<tr>


		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>


	</tr>


	{% endif %}





{%endfor%}


</table>

<h3 align="center" style="width:100%;background-color: seagreen;">Partidos Jugados</h3>

	{%for match in partidos%}
		{%if match.Horario == "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in H%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in H%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>{{match.GolesEquipo1}}</td>

									<td>VS</td>

									<td>{{match.GolesEquipo2}}</td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
		</tr>

	{%endif%}
	{%endfor%}


	<h3 align="center" style="width:100%;background-color: seagreen;">Proximos Partidos</h3>

	{%for match in partidos%}
		{%if match.Horario != "Finalizado" and match.Instancias == "Fase"%}
		<tr>
					{%for eq in H%}
						{%if match.idEquipo1 == eq.idEquipo%}

							{%for eq1 in H%}

								{% if match.idEquipo2 == eq1.idEquipo%}

									<td>{{match.Dia}}</td>

									<td>{{match.Horario}}</td>

									<td>{{eq.Nombre}}</td>

									<td>  </td>

									<td>VS</td>

									<td>  </td>

									<td>{{eq1.Nombre}}</td>

								{%endif%}

							{%endfor%}
							<br>
						{%endif%}

				{%endfor%}
				</tr>

	{%endif%}
	{%endfor%}



</div>
{%endif%}

<div id="cruces">



	<div id="oct" style="float:left;border: 1px solid black; margin-top:10px;margin-right:10px;height:95%">
		<h3 style="">OCTAVOS DE FINAL</h3>

		{%for match in partidos%}
				{%if match.Instancia == 'Octavos'%}

				<h4>{{match.Dia}}</h4>
				<tr>


					<td>{{match.Horario}}</td>
					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo1%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}

					{%if match.GolesEquipo1 == None and match.GolesEquipo2 == None%}

						<td>  VS  </td>

					{%else%}

						<td>{{match.GolesEquipo1}}</td>
						<td>{{match.GolesEquipo2}}</td>

					{%endif%}



					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo2%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}



				</tr>
				<br>
				{%endif%}

		{%endfor%}

	</div>




	<div id="cuar" style="float:left;border: 1px solid black; margin-top:10px;margin-right:10px;height:60%">

		<h3>CUARTOS DE FINAL</h3>

			{%for match in partidos%}
				{%if match.Instancia == 'Cuartos'%}

				<h4>{{match.Dia}}</h4>

				<tr>


					<td>{{match.Horario}}</td>
					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo1%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}

					{%if match.GolesEquipo1 == None and match.GolesEquipo2 == None%}

						<td>  VS  </td>

					{%else%}

						<td>{{match.GolesEquipo1}}</td>
						<td>{{match.GolesEquipo2}}</td>

					{%endif%}



					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo2%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}



				</tr>


				{%endif%}

			{%endfor%}

	</div>




	<div id="semi" style="float:left;border: 1px solid black; margin-top:10px;margin-right:10px;height:45%">


		<h3>SEMIFINALES</h3>

			{%for match in partidos%}
				{%if match.Instancia == 'Semi'%}

				<h4>{{match.Dia}}</h4>

				<tr>


					<td>{{match.Horario}}</td>
					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo1%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}

					{%if match.GolesEquipo1 == None and match.GolesEquipo2 == None%}

						<td>  VS  </td>

					{%else%}

						<td>{{match.GolesEquipo1}}</td>
						<td>{{match.GolesEquipo2}}</td>

					{%endif%}



					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo2%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}



				</tr>


				{%endif%}

			{%endfor%}



	</div>




		<div id="final" style="float:left;border: 1px solid black; margin-top:10px;margin-right:10px;height:30%">

			<h3>FINAL</h3>

			{%for match in partidos%}
			{%if match.Instancia == 'Final'%}

				<h4>{{match.Dia}}</h4>
				<tr>


					<td>{{match.Horario}}</td>
					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo1%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}

					{%if match.GolesEquipo1 == None and match.GolesEquipo2 == None%}

						<td>  VS  </td>

					{%else%}

						<td>{{match.GolesEquipo1}}</td>
						<td>{{match.GolesEquipo2}}</td>

					{%endif%}



					{%for eqs in equiposCopaLib%}

						{%if eqs.idEquipo == match.idEquipo2%}

							<td>{{eqs.Nombre}}</td>

						{%endif%}

					{%endfor%}



				</tr>

			{%endif%}
		{%endfor%}

		</div>


</div>


<div style="float:left;">

	<a href="/">Volver al Menu</a>

</div>



</body>
</html>