<!DOCTYPE html>
<html>
<head>
	<title>LIBERTADORES</title>
</head>
<body>

<h3><strong>GRUPOS</strong></h3>


<table>



	<tr>

		<td><strong>GRUPO {{ listaA[0].Grupo }}</strong></td>

	</tr>


	<tr>

		<td>Equipo</td>
		<td>Ptos</td>
		<td>PJ</td>
		<td>PG</td>
		<td>PP</td>
		<td>PE</td>
		<td>GF</td>
		<td>GC</td>
		<td>Dif</td>


	</tr>

{% for item in listaA %}

	<tr>

		<td> {{ item.nombre }}</td>
	    <!--<td> {{ item["Puntos"] }}</td>-->
		<!--<td> {{ item["PartidosJugados"] }}</td>-->
		<!--<td> {{ item["Ganados"] }}</td>-->
		<!--<td> {{ item["Perdidos"] }}</td>-->
		<!--<td> {{ item["Empatados"] }}</td>-->
		<!--<td> {{ item["GolesAFavor"] }}</td>-->
		<!--<td> {{ item["GolesEnContra"] }}</td>-->


	</tr>

{% endfor %}


</table>


</body>
</html>