<!DOCTYPE html>
<html>
<head>
	<title>PROMIEDOS</title>

</head>
<body>
	<H1>PROMIEDOS</H1>

	<table>

		<tr>

			<td><strong>LIGAS</strong></td>
			<td><strong>COPAS</strong></td>
			<td><strong>OTROS</strong></td>
		</tr>

		<tr>

			<td><a href = "/superliga" >SUPERLIGA  </a></td>
			<td><a href = "/libertadores" >LIBERTADORES  </a></td>


		</tr>

		<tr>

			<td><a href = "/laLiga" >LA LIGA  </a></td>
			<td><a href = "/uefa" >UEFA CHAMPIONS LEAGUE  </a></td>

		</tr>

		<tr>

			<td><a href = "/admin">Administracion</a></td>

		</tr>

	</table>




</body>
</html>