<!DOCTYPE html>
<html>
<head>
	<title>PROMIEDOS</title>

</head>
<body>
	<H1>PROMIEDOS</H1>

	<table>

		<tr>

			<th><strong>LIGAS</strong></th>
			<th><strong>COPAS</strong></th>
			<th><strong>OTROS</strong></th>
		</tr>

		<tr>

			<td><a href = "/superliga" >SUPERLIGA  </a></td>
			<td><a href = "/libertadores" >LIBERTADORES  </a></td>
			<td><a href = "/admin">Administracion</a></td>

		</tr>

		<tr>

			<td><a href = "/laLiga" >LA LIGA  </a></td>
			<td><a href = "/uefa" >UEFA CHAMPIONS LEAGUE  </a></td>

		</tr>



	</table>




</body>
</html>