<!DOCTYPE html>
<html>
<head>
	<title>SUPERLIGA</title>

	<style>

		table {
    		border-collapse: collapse;
    		width: 30%;
		}

		td, th {
    		text-align: left;
    		padding: 8px;
		}

		th {
    		background-color: #4CAF50;
    		color: white;
		}
		tr:nth-child(even){background-color: #f2f2f2}



	</style>

</head>

<script src="/scripts/snippet-javascript-console.min.js?v=1"></script>


<body>

<div>

<h3>
	SUPERLIGA ARGENTINA

</h3>

<table>

<tr>

  	<th><strong>Equipos</strong></th>
  	<th><strong>Ptos</strong></th>
	<th><strong>PJ</strong></th>
	<th><strong>PG</strong></th>
	<th><strong>PP</strong></th>
	<th><strong>PE</strong></th>
	<th><strong>GF</strong></th>
	<th><strong>GC</strong></th>
	<th><strong>DG</strong></th>

</tr>

{% for item in equiposSuperliga: %}


<tr>

		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>
</tr>


{% endfor %}

</table>

</div>

<div>

<form method="post" action='/superliga'>

	<h3>Fixture<br>Fecha


		<select name="nroFecha">
			{%for item in fechas:%}

				{%if item.NroFecha == nroF%}

					<option value="{{item.NroFecha}}" selected>{{item.NroFecha}}</option>

				{%else%}

					<option value="{{item.NroFecha}}" >{{item.NroFecha}}</option>

				{%endif%}
			{%endfor%}
		</select>
		<input type="submit" name="submit" value="Ver Fecha">
	</h3>

</form>



	<table>

		<tr>

			<th>Dia</th>
			<th>Horario</th>
			<th>Local</th>
			<th> </th>
			<th> </th>
			<th> </th>
			<th>Visitante</th>


		</tr>

		{%for item in fixture%}

			{%if item.NroFecha == nroF%}

					<tr>

						<td>{{item.Dia}}</td>
						<td>{{item.Horario}}</td>
					{%for eq in equiposSuperliga:%}

						{%if item.idEquipo1 == eq.idEquipo%}

							<td>{{eq.Nombre}}</td>

						{%endif%}
					{%endfor%}

					{%if item.GolesEquipo1 == None%}

						<td>   </td>

					{%else%}

						<td>{{item.GolesEquipo1}}</td>

					{%endif%}

						<td>VS</td>

					{%if item.GolesEquipo2 == None%}

						<td>   </td>

					{%else%}

						<td>{{item.GolesEquipo2}}</td>

					{%endif%}

					{%for eq in equiposSuperliga:%}
						{%if item.idEquipo2 == eq.idEquipo%}

							<td>{{eq.Nombre}}</td>

						{%endif%}

					{%endfor%}



					</tr>





			{%endif%}

		{%endfor%}

	</table>

</div>



<div>

	<a href="/">Volver al Menu</a>

</div>

</body>
</html>