<!DOCTYPE html>
<html>
<head>
	<title>SUPERLIGA</title>

	<style>

		table {
    		border-collapse: collapse;
    		width: 30%;
		}

		td, th {
    		text-align: left;
    		padding: 8px;
		}

		th {
    		background-color: #4CAF50;
    		color: white;
		}
		tr:nth-child(even){background-color: #f2f2f2}



	</style>

</head>
<body>

<h3>
	SUPERLIGA ARGENTINA

</h3>

<table>

<tr>

  	<th><strong>Equipos</strong></th>
  	<th><strong>Ptos</strong></th>
	<th><strong>PJ</strong></th>
	<th><strong>PG</strong></th>
	<th><strong>PP</strong></th>
	<th><strong>PE</strong></th>
	<th><strong>GF</strong></th>
	<th><strong>GC</strong></th>
	<th><strong>DG</strong></th>

</tr>

{% for item in equiposSuperliga: %}


<tr>

		<td> {{ item["Nombre"] }}</td>
	    <td> {{ item["Puntos"] }}</td>
		<td> {{ item["PartidosJugados"] }}</td>
		<td> {{ item["Ganados"] }}</td>
		<td> {{ item["Perdidos"] }}</td>
		<td> {{ item["Empatados"] }}</td>
		<td> {{ item["GolesAFavor"] }}</td>
		<td> {{ item["GolesEnContra"] }}</td>
		<td> {{ item["GolesAFavor"] - item["GolesEnContra"] }}</td>
</tr>


{% endfor %}

</table>
</body>
</html>